<html>
    
<head>
    
    <title>
        CHATBOT LOGIN IN 
    </title>
     <link rel="stylesheet" type="" href="chatbotlogin">
</head> 
<body>
     <div>
        <nav class="navigation">
            <img src="">
            <ul>
                <li>
                    Home
                </li>
                <li>
                    Advertisement
                </li>
                <li>
                    Services
                </li>
                <li>
                    AboutUs
                </li>
                <li>
                    GetDemo
                </li>
            </ul>
            
        </nav>
     </div>
</body>
</html>