{% load static %} 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
	<link rel="stylesheet" href="{% static 'output.css' %}">
</head>
<body style="background-image: url('{% static 'image/registrationBackground.png' %}');">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 class="text-center text-2xl">Sign In</h3>
				
			</div>
			<div class="card-body">
				<form method="post" action='{% url "login" %}'>
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Enter the registered Email" name="email", required>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control border-2 border-gray-300 p-2 rounded-md" placeholder="password" name="password" required>
					</div>
					
					{% if msg %}
					<div class="static text-center text-white bg-red-400 w-fit mx-auto p-1 rounded-md" id="error">
						<p class="text-center">! {{msg}} </p>
					</div>
					
					{% endif %}
					<div class="absolute bottom-[7.5rem] left-0 right-0 flex justify-center ">
						<input type="submit" value="Login" class="btn  login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="{% url "registration" %}" class="hover:text-green-400">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="{% url "reset" %}" class="text-[#00FFF7] hover:text-red-600">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
    var errorDiv = document.getElementById("error");

    if (errorDiv) {
        setTimeout(() => {
            errorDiv.style.transition = "opacity 1s ease";
            errorDiv.style.opacity = "0";
            setTimeout(() => {
                errorDiv.style.display = "none";
            }, 1000);
        }, 4000);
    }
});
</script>
</body>
</html>