<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'confrim' %}" method="post" role="form">
        {% csrf_token %}
        <p>
            please enter the otp which was sent on your email:-
        </p>
        <input type="text" name="otp" style="height: 15px; width: 75px "><br>
        <br>
        {% if wrongOtp == 1 %}
        <p> please enter the otp which was sent your registered emial</p>
          
        {% endif %}
        <br>
        <br>
        <button name="submit" id="submit" >submit</button>


    </form>
</body>
</html>