<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/registration.css">
</head>
<body >
    <section class="container m-auto p-3" >
        <header>Enter sent OTP on email 
        </header>

        <form action="{% url 'confirm' %}" class="form" method="post" >
          {% csrf_token %}
          <div class="input-box">
            <label>OTP:-</label>
            <input type="text" placeholder="Enter OTP" name="otp" required />
            <button type="submit">SUBMIT</button>
          </div>
          {% if wrongOtp == 1 %}
          <div class="bg-red-400 h-fit absolute top-0 left-0">
          <p class="text-white text-wrap text-center my-1"> 
            Wrong OTP!</p>
            
          {% endif %}
        </form>
       
    </section>
</body>
</html>