{% load static %}
<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="/static/registration.css" />
    <link rel="stylesheet" href="{% static 'output.css'%}">
  </head>
';
'
  <body class="px-2 overflow-x-hidden bg-gray-800">
    

   

    {% if s1 == 1 %}
    <div class="h-fit w-full bg-red-400 text-center text-white absolute top-0 left-0" id="error">
      <p class="text-wrap text-center" id="error">

        This email {{email}} is already exist.
      </p>
    </div>
    {% endif %}
    {% if msg != None %}
    <div class="h-fit w-full bg-red-400 text-center text-white absolute top-0 left-0" id="error">
        <p class="text-wrap text-center" id="error">

          {{msg}}
        </p>
      
    </div>
    {% endif %}

    <div class=" mx-auto p-1 text-center max-w-screen-lg h-fit mt-16 text-3xl ">
      <div class="w-fit h-full mx-auto ">
      <h1 class="text-purple-500">WEBSITE CHATBOT</h1>
      <div class="mt-1 h-[0.2rem]  bg-white rounded-lg"></div>
    </div>
    </div>
    
    <section class="container max-w-screen-lg h-1/2 mt-10 text-white md:mx-auto">

      <header class="mx-auto text-center w-fit ">Sign-Up
        <div class=" h-full w-full mt-1">
         
          <div class=" h-[0.2rem]  bg-white rounded-lg"></div>
      </header>


      <form action="{% url 'registration' %}" class="form" method="post" submit="return registration()">
        {% csrf_token %}
        <div class="input-box">
          <label>Full Name</label>
          <input type="text" placeholder="Enter full name" name="name" required />
        </div>
        <div class="input-box">
          <label>Email Address</label>
          <input type="text" placeholder="Enter email address" name="email" required />
        </div>
        <div class="input-box">
          <label> CreatePassword</label>
          <input type="password" placeholder="Enter new Password" name="password" required />
        </div>




        <button>Submit</button>
      </form>
    </section>
    <script>
    // Function to be called when div content changes
    document.addEventListener("DOMContentLoaded", function () {
    var errorDiv = document.getElementById("error");

    if (errorDiv) {
        setTimeout(() => {
            errorDiv.style.transition = "opacity 1s ease";
            errorDiv.style.opacity = "0";
            setTimeout(() => {
                errorDiv.style.display = "none";
            }, 1000);
        }, 4000);
    }
});



    </script>
  </body>
  <script src="/static/script.js"></script>

</html>