{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=in, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'output.css' %}">
    <title>Document</title>
</head>
<body class="bg-slate-800 min-h-screen flex flex-col  items-center ">
    
    <p id="error" class="w-full text-white text-center bg-red-400 absolute top-0 "></p>
    <h1 class="text-5xl text underline text-center text-blue-300 mt-10">WEBSITE CHATBOT</h1>
    <form action="{% url 'resetpassword' %}" method="post" role="form" class=" text-center border-[#80CBC4]  text-[#80CBC4] p-7 border-2 w-fit my-auto rounded-lg" onsubmit="return changePassword(event)">
        {% csrf_token %}
    <p class="text-3xl "> Reset Password</p>
    <img src="{% static "./image/resetPassword.png" %}" class="my-7 w-36 h-36 mx-36" alt="">
    <label for="resetPassword" class="border-2 border-slate-500 focus-within:border-[#80CBC4] rounded-md flex p-2 mx-auto mt-4">
        <img src="{% static "./image/resetPassword.png" %}" class="w-8 h-8 inline my-auto" alt="">
        <input type="password" id="resetPassword" name="resetPassword" placeholder="Enter New Password" class="text-white w-full ml-4 pl-4 outline-none bg-transparent text-xl">

    </label>
    <label for="confrimPassword" class="border-2 border-slate-500 focus-within:border-[#80CBC4] rounded-md flex p-2 mx-auto my-4">
        <img src="{% static "./image/confrimPassword.png" %}" class="w-8 h-8 inline my-auto" alt="">
        <input type="password" id="confrimPassword" name="confrimPassword" placeholder="Confrim Password" class="text-white w-full ml-4 pl-4 outline-none bg-transparent text-xl">
    </label>

     <button  type='submit' id="submit"  class="relative left-0 right-0 top-0 bottom-0 w-full block bg-[#80CBC4] text-white mt-7 mx-auto p-2 rounded-lg text-center text-2xl" > CHANGE</button>
    </form>
    <script>
        function changePassword(event){
           
            var resetPassword = document.getElementById("resetPassword").value;
            var confrimPassword = document.getElementById("confrimPassword").value;
            if(resetPassword != confrimPassword){
                
                event.preventDefault();
                let error =document.getElementById("error");
                error.innerHTML = "Password does not match";
                setTimeout(() => {
                    error.innerHTML = "";
                },4000);
                
                
                return false;
            }
            return true;
        }
    </script>
</body>
</html>