<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='post' action='{% url "reset" %}' role='form'>
        {% csrf_token %}
        {% if condition == 0 %}
        
        <p>
            Register email:
            <input type="text" name='resetEmail' required>


        </p>
        <br>
        <p>

            {{wrongEmail}}
            {{errors}}
        </p>

        <br>
        <button type="submit" id="submit" class="submit">Submit</button>
        </form>
        
        {% else %}
        <form action="{% url "reset" %}, method='post', role="form" >
        {% csrf_token %}
       
        OTP:-
         <input type="text" name="otp" style="height: 19px; width: 67px;" required>

          
       
        {{wrongOTP}}
        <button type="submit" id="submit" class="submit">Submit</button>
       
         {% endif %} 
        
        </form>

</body>
</html>